/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Imprima;
    color: #b4bbc2;
    box-sizing: border-box;
}
/* corpo e fundo */
body {
    background-image: url("../imagens/background.png");
    background-position: center;
    background-size: cover;
}
/* botoes */
button {
    color: #6c6c6c;
    background-color: transparent;
    border: 2px solid #454545;
    border-radius: 5px;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    width: 30px;
    height: 30px;
}

button:hover {
    background-color: #282828;
}
button i {
    color: #6c6c6c;
    font-weight: bold;
    pointer-events: none;
}

button:hover > i {
    background-color: #282828;
}

button[type="submit"] i { /* cor botao add e edit*/
  color: #3e7a42;
}

#erase-button i { /* cor botao buscar */
    color: #3e637a; 
}

input, select {
    padding: .30rem;
    background-color: transparent;
    border: 2px solid #454545;
    border-radius: 5px;
}

.hide {
    display: none;
}

/* todo header */
.todo-container { 
    max-width: 500px;
    padding: 2rem;
    margin: 3rem auto;
    background-color: #141414;
    border: 3px solid #3f3351;
    border-radius: 15px;
}
.todo-container header {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #454545;
}
.cabecalho {
    color: #ececec;
    font-family: 'Liu Jian Mao Cao', cursive;
}

/* titulos coloridos */
.titulo-verde {
  color: #3e7a42;
  font-weight: bold;
}

.titulo-azul {
  color: #3e637a;
}

.titulo-laranja {
  color: #7a673e;
}

/* listas/form*/
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #454545;
}

#todo-form p, 
#edit-form p {
    font-weight: bold;
    margin-bottom: .5rem;    
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .2rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

/* toolbar */
#toolbar {
    padding: 1rem 1rem 1rem 0;
    border-bottom: 1px solid #454545;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    width: 70%;
    display: flex;
    flex-direction:  column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .2rem;
}